/*

style_1.cssが煩雑すぎるので作った2つめ

*/


hr {
 height: 3px;
 color: red;
 background-color: #ec5404;
 width: 80%;
 border: none;
}

.Sp-cnt{
  text-align: center;
  font-size: 1.3em;
  padding-bottom: 10px;
}
