/*

style_1.cssが煩雑すぎるので作った2つめ
#ec5404
*/


hr {
 height: 3px;
 color: red;
 background-color: #ec5404;
 width: 80%;
 border: none;
}

.Sp-cnt{
  text-align: center;
  font-size: 1.3em;
  padding-bottom: 10px;
}

.Club-phoenix-list {
  text-align: center;
  font-size: 15pt;
  color: white;
}

.Club-phoenix-list b{
  font-family: "Teko";
  color: white;
  font-weight: 200;
  font-size: 25pt;
}

.Club-phoenix-list-tab table{
  margin: auto;
	color: white;
  width: 30%;
  font-size: 20pt;
  white-space: nowrap;
}

.Club-phoenix-list-tab-sm table{
  margin: auto;
	color: white;
  width: 30%;
  font-size: 15pt;
  white-space: nowrap;
}

.small-kuchi {
  color: white;
  font-size: 70%;
}
.INLINE-ORANGE {
  color: #ec5404;
}
.INLINE-SMALL{
  font-size: 60%;
}
.INLINE-BIG{
  font-size: 120%;
}
.INLINE-DARK{
  color: #c4c4c4;
}
